
include pysoundanalyser/*.py
include pysoundanalyser/doc/*
include icons/*
include pysoundanalyser.desktop
include INSTALL.txt
include COPYING.txt
include README.md
include scripts/*
exclude windows_installer/*
exclude mac_installer/*
include pysoundanalyser/doc/_build/html/*
include pysoundanalyser/doc/_build/html/_sources/*
include pysoundanalyser/doc/_build/html/_sources/_themes/*
include pysoundanalyser/doc/_build/html/_static/*
include pysoundanalyser/doc/_build/html/_static/css/*
include pysoundanalyser/doc/_build/html/_static/font/*
include pysoundanalyser/doc/_build/html/_static/js/*
include pysoundanalyser/doc/_build/html/_themes/*
include pysoundanalyser/doc/_build/latex/*.pdf