Source: pysoundanalyser
Section: science
Priority: extra
Maintainer: Samuele Carcagno <sam.carcagno@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
	       python3 (>= 3.1)
X-Python3-Version: >= 3.1
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pysoundanalyser.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pysoundanalyser.git;a=summary

Package: pysoundanalyser
Architecture: any
Depends: ${python3:Depends}, 
	 ${misc:Depends}, 
	 ${shlibs:Depends},
	 python3 (>= 3.1), 
	 python3-numpy (>= 1:1.6.1), 
	 python3-scipy (>=0.9.0), 
	 python3-pyqt5 (>=5.2.1), 
	 alsa-utils (>= 1.0.23-3), 
	 python3-matplotlib (>= 1.4) 
Description: python sound analysis software
 Application for visualizing and processing short
 sounds (FFT, autocorrelation, level change etc...)
